flow.json
[
    {
        "id": "187e9ec281c222a8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f0ec0e6ee29005e5",
        "type": "mqtt in",
        "z": "187e9ec281c222a8",
        "name": "",
        "topic": "v3/ecs@ttn/devices/eui-a8610a3237266609/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cdc64600e68dc88",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 740,
        "wires": [
            [
                "afe0f07b548eb442",
                "5819365f61c97dd5",
                "39c6f330d9a40a54",
                "c6c79484d97dad03",
                "468c1f6d952bfa40"
            ]
        ]
    },
    {
        "id": "30cf04f3bebd7556",
        "type": "debug",
        "z": "187e9ec281c222a8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "afe0f07b548eb442",
        "type": "function",
        "z": "187e9ec281c222a8",
        "name": "get_brightness",
        "func": "let brightness = msg.payload['uplink_message']['decoded_payload']['brightness'];\nmsg.payload = brightness;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 260,
        "wires": [
            [
                "30cf04f3bebd7556",
                "95e9848d36dbd314",
                "f16dba8ad5bbd345"
            ]
        ]
    },
    {
        "id": "95e9848d36dbd314",
        "type": "ui_gauge",
        "z": "187e9ec281c222a8",
        "name": "",
        "group": "0d50e0f6edec8522",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Brightness Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "117e535ffcf9c37c",
        "type": "ui_text",
        "z": "187e9ec281c222a8",
        "group": "0d50e0f6edec8522",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last message received at:",
        "format": "{{msg.payload}} GMT",
        "layout": "row-center",
        "className": "",
        "x": 820,
        "y": 580,
        "wires": []
    },
    {
        "id": "5819365f61c97dd5",
        "type": "function",
        "z": "187e9ec281c222a8",
        "name": "get_time",
        "func": "msg.payload = msg.payload['received_at'].slice(11).slice(0, -14)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "db624ad582a773f8",
                "117e535ffcf9c37c"
            ]
        ]
    },
    {
        "id": "db624ad582a773f8",
        "type": "debug",
        "z": "187e9ec281c222a8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "f16dba8ad5bbd345",
        "type": "ui_chart",
        "z": "187e9ec281c222a8",
        "name": "",
        "group": "0d50e0f6edec8522",
        "order": 3,
        "width": "6",
        "height": "8",
        "label": "Brightness over time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "No data to display...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "39c6f330d9a40a54",
        "type": "function",
        "z": "187e9ec281c222a8",
        "name": "get_location",
        "func": "let metadata = msg.payload['uplink_message']['rx_metadata'][0];\nlet lon = metadata['location']['longitude']\nlet lat = metadata['location']['latitude']\n\nmsg.payload = {\n    'name': 'Streetlight#1',\n    'lat': lat,\n    'lon': lon\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 720,
        "wires": [
            [
                "6f229a1b8011fbc6",
                "bbab47860494bf66"
            ]
        ]
    },
    {
        "id": "6f229a1b8011fbc6",
        "type": "debug",
        "z": "187e9ec281c222a8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 720,
        "wires": []
    },
    {
        "id": "bbab47860494bf66",
        "type": "ui_worldmap",
        "z": "187e9ec281c222a8",
        "group": "b8ae41f76f32fd71",
        "order": 1,
        "width": "6",
        "height": "13",
        "name": "Location",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 820,
        "y": 820,
        "wires": []
    },
    {
        "id": "c6c79484d97dad03",
        "type": "function",
        "z": "187e9ec281c222a8",
        "name": "get_power",
        "func": "let power = msg.payload['uplink_message']['decoded_payload']['power'];\nmsg.payload = power;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1040,
        "wires": [
            [
                "fa445db8dda58180",
                "4f07bbbfa0fe5cdf",
                "b4f1307cad533869",
                "edf592639e33f6a4"
            ]
        ]
    },
    {
        "id": "fa445db8dda58180",
        "type": "ui_chart",
        "z": "187e9ec281c222a8",
        "name": "",
        "group": "1598578620ada641",
        "order": 3,
        "width": "6",
        "height": "7",
        "label": "Power over time",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "4f07bbbfa0fe5cdf",
        "type": "ui_gauge",
        "z": "187e9ec281c222a8",
        "name": "",
        "group": "1598578620ada641",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Power",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 1140,
        "wires": []
    },
    {
        "id": "2bf9e2c77bd08ce5",
        "type": "mysql",
        "z": "187e9ec281c222a8",
        "mydb": "1d7fba2766d0a819",
        "name": "my-db",
        "x": 510,
        "y": 1480,
        "wires": [
            [
                "bc5e391067a4103a"
            ]
        ]
    },
    {
        "id": "468c1f6d952bfa40",
        "type": "function",
        "z": "187e9ec281c222a8",
        "name": "insert_db",
        "func": "let brightness = msg.payload['uplink_message']['decoded_payload']['brightness'];\nlet power = msg.payload['uplink_message']['decoded_payload']['power'];\nlet date = msg.payload['received_at'].slice(0, 10);\nlet time = msg.payload['received_at'].slice(11, 19);\n\nlet q = `INSERT INTO stats VALUES (${brightness}, ${power}, \"${date}\", \"${time}\");`\nlet q1 = `SELECT AVG(brightness) FROM stats WHERE HOUR(time) = ${time.slice(0, 2)};`\n\nlet query = `${q} ${q1}`\n\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1480,
        "wires": [
            [
                "2bf9e2c77bd08ce5"
            ]
        ]
    },
    {
        "id": "71bd6ee38f3d68d9",
        "type": "ui_text",
        "z": "187e9ec281c222a8",
        "group": "1598578620ada641",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Avg. Brightness at this hour:",
        "format": "{{msg.payload}}%",
        "layout": "row-center",
        "className": "",
        "x": 900,
        "y": 1480,
        "wires": []
    },
    {
        "id": "bc5e391067a4103a",
        "type": "function",
        "z": "187e9ec281c222a8",
        "name": "filter_avg",
        "func": "let avg = msg.payload[1][0]['AVG(brightness)'];\n\nmsg.payload = avg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1480,
        "wires": [
            [
                "71bd6ee38f3d68d9",
                "edf592639e33f6a4",
                "b0b1bd2f7f8f9d42"
            ]
        ]
    },
    {
        "id": "b4f1307cad533869",
        "type": "debug",
        "z": "187e9ec281c222a8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1060,
        "wires": []
    },
    {
        "id": "edf592639e33f6a4",
        "type": "join",
        "z": "187e9ec281c222a8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 810,
        "y": 1280,
        "wires": [
            [
                "26d2503b6f442a96",
                "1d4da255ae386c9c"
            ]
        ]
    },
    {
        "id": "26d2503b6f442a96",
        "type": "ui_text",
        "z": "187e9ec281c222a8",
        "group": "0d50e0f6edec8522",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Difference",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1020,
        "y": 1340,
        "wires": []
    },
    {
        "id": "1d4da255ae386c9c",
        "type": "debug",
        "z": "187e9ec281c222a8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1280,
        "wires": []
    },
    {
        "id": "75f7e12d9f3281d0",
        "type": "mqtt out",
        "z": "187e9ec281c222a8",
        "name": "",
        "topic": "v3/ecs@ttn/devices/eui-a8610a3237266609/down/push",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cdc64600e68dc88",
        "x": 1190,
        "y": 2540,
        "wires": []
    },
    {
        "id": "39493f7d7db5e9b1",
        "type": "ui_switch",
        "z": "187e9ec281c222a8",
        "name": "",
        "label": "Force Light ON",
        "tooltip": "",
        "group": "b9c854d2a20593c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 2560,
        "wires": [
            [
                "cccb8eafedf11db0"
            ]
        ]
    },
    {
        "id": "10e73916698ce767",
        "type": "switch",
        "z": "187e9ec281c222a8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 2560,
        "wires": [
            [
                "693fae49a8d4f424"
            ],
            [
                "eb01739484509ab2"
            ]
        ]
    },
    {
        "id": "693fae49a8d4f424",
        "type": "change",
        "z": "187e9ec281c222a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"downlinks\":[{\"f_port\":1,\"frm_payload\":\"MTAw\",\"priority\":\"NORMAL\",\"confirmed\":true}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 2480,
        "wires": [
            [
                "75f7e12d9f3281d0"
            ]
        ]
    },
    {
        "id": "cccb8eafedf11db0",
        "type": "function",
        "z": "187e9ec281c222a8",
        "name": "function 1",
        "func": "if (msg.payload == true) {\n    msg.payload = \"true\";\n} else {\n    msg.payload = \"false\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2560,
        "wires": [
            [
                "10e73916698ce767"
            ]
        ]
    },
    {
        "id": "eb01739484509ab2",
        "type": "change",
        "z": "187e9ec281c222a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"downlinks\":[{\"f_port\":1,\"frm_payload\":\"OTk5\",\"priority\":\"NORMAL\",\"confirmed\":true}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 2620,
        "wires": [
            [
                "75f7e12d9f3281d0"
            ]
        ]
    },
    {
        "id": "f4d0d7950e3f2fd3",
        "type": "mqtt out",
        "z": "187e9ec281c222a8",
        "name": "",
        "topic": "v3/ecs@ttn/devices/eui-a8610a3237266609/down/push",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cdc64600e68dc88",
        "x": 1170,
        "y": 2280,
        "wires": []
    },
    {
        "id": "24d2cf39d199fbe9",
        "type": "ui_switch",
        "z": "187e9ec281c222a8",
        "name": "",
        "label": "Force Light OFF",
        "tooltip": "",
        "group": "b9c854d2a20593c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 2280,
        "wires": [
            [
                "020bcda7e898cd78"
            ]
        ]
    },
    {
        "id": "cb72411c9b1c0391",
        "type": "switch",
        "z": "187e9ec281c222a8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 2280,
        "wires": [
            [
                "06f0090cad0c01ba"
            ],
            [
                "f84a85a95264547f"
            ]
        ]
    },
    {
        "id": "06f0090cad0c01ba",
        "type": "change",
        "z": "187e9ec281c222a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"downlinks\":[{\"f_port\":1,\"frm_payload\":\"AAAA\",\"priority\":\"NORMAL\",\"confirmed\":true}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 2260,
        "wires": [
            [
                "f4d0d7950e3f2fd3"
            ]
        ]
    },
    {
        "id": "020bcda7e898cd78",
        "type": "function",
        "z": "187e9ec281c222a8",
        "name": "function 2",
        "func": "if (msg.payload == true) {\n    msg.payload = \"true\";\n} else {\n    msg.payload = \"false\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2280,
        "wires": [
            [
                "cb72411c9b1c0391"
            ]
        ]
    },
    {
        "id": "f84a85a95264547f",
        "type": "change",
        "z": "187e9ec281c222a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"downlinks\":[{\"f_port\":1,\"frm_payload\":\"OTk5\",\"priority\":\"NORMAL\",\"confirmed\":true}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 2340,
        "wires": [
            [
                "f4d0d7950e3f2fd3"
            ]
        ]
    },
    {
        "id": "b0b1bd2f7f8f9d42",
        "type": "debug",
        "z": "187e9ec281c222a8",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 1580,
        "wires": []
    },
    {
        "id": "6cdc64600e68dc88",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.network:1883",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0d50e0f6edec8522",
        "type": "ui_group",
        "name": "Home",
        "tab": "af24c22933d119b8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b8ae41f76f32fd71",
        "type": "ui_group",
        "name": "Location",
        "tab": "af24c22933d119b8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1598578620ada641",
        "type": "ui_group",
        "name": "Energy",
        "tab": "af24c22933d119b8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d7fba2766d0a819",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "comp3210",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "b9c854d2a20593c3",
        "type": "ui_group",
        "name": "Force Controls",
        "tab": "af24c22933d119b8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af24c22933d119b8",
        "type": "ui_tab",
        "name": "Southampton Streetlights",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
