flow.json
[
    {
        "id": "187e9ec281c222a8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f0ec0e6ee29005e5",
        "type": "mqtt in",
        "z": "187e9ec281c222a8",
        "name": "",
        "topic": "v3/ecs@ttn/devices/eui-a8610a3237266609/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cdc64600e68dc88",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 720,
        "wires": [
            [
                "afe0f07b548eb442",
                "5819365f61c97dd5",
                "f87659ddfc216c3b"
            ]
        ]
    },
    {
        "id": "30cf04f3bebd7556",
        "type": "debug",
        "z": "187e9ec281c222a8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "afe0f07b548eb442",
        "type": "function",
        "z": "187e9ec281c222a8",
        "name": "get_brightness",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['brightness']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 480,
        "wires": [
            [
                "30cf04f3bebd7556",
                "95e9848d36dbd314"
            ]
        ]
    },
    {
        "id": "95e9848d36dbd314",
        "type": "ui_gauge",
        "z": "187e9ec281c222a8",
        "name": "",
        "group": "0d50e0f6edec8522",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Brightness Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "117e535ffcf9c37c",
        "type": "ui_text",
        "z": "187e9ec281c222a8",
        "group": "0d50e0f6edec8522",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time of last message",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5819365f61c97dd5",
        "type": "function",
        "z": "187e9ec281c222a8",
        "name": "get_time",
        "func": "msg.payload = msg.payload['received_at'].slice(11).slice(0, -14)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 920,
        "wires": [
            [
                "db624ad582a773f8",
                "117e535ffcf9c37c"
            ]
        ]
    },
    {
        "id": "db624ad582a773f8",
        "type": "debug",
        "z": "187e9ec281c222a8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 860,
        "wires": []
    },
    {
        "id": "f87659ddfc216c3b",
        "type": "function",
        "z": "187e9ec281c222a8",
        "name": "extract_chart",
        "func": "let brightness = msg.payload['uplink_message']['decoded_payload']['brightness'];\nlet time = msg.payload['received_at'].slice(11).slice(0, -14);\nlet data = {\n    'brightness': brightness,\n    'time': time\n}\n\nmsg.payload = [data]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 720,
        "wires": [
            [
                "f98711adf3f5b8c0",
                "4415434bc5f05439"
            ]
        ]
    },
    {
        "id": "f98711adf3f5b8c0",
        "type": "debug",
        "z": "187e9ec281c222a8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 660,
        "wires": []
    },
    {
        "id": "4415434bc5f05439",
        "type": "ui_chart",
        "z": "187e9ec281c222a8",
        "name": "",
        "group": "0d50e0f6edec8522",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "255",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "6cdc64600e68dc88",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.network:1883",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0d50e0f6edec8522",
        "type": "ui_group",
        "name": "Home",
        "tab": "af24c22933d119b8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af24c22933d119b8",
        "type": "ui_tab",
        "name": "Southampton Streetlights",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
